body{
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.area_login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 355px;
    height: 320px;
    padding: 35px;
}
.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login input{
    margin-top: 10px;
    background-color: #252A34;
    color: #CBD0F7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}
.login .logo{
    height: auto;
    color: white;
    font-size: 40px;
}
input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
}
form[type="submit"]{
    display: block;
    background-color: #5568FE;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.cliente{
    padding-top: 15px;
    color: rgb(203, 203, 203);
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.linha{
    border-bottom: 1px solid #252A34;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}
p a{
    color: #CBD0F7;
    text-decoration: none;
}